@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
h1, h2, h3, h4, h5, p {
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 90em;
  margin: 0 auto; }

.noresponse {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #343434; }
  .noresponse .noresponse__image {
    display: block;
    width: 240px;
    height: 100px;
    margin-bottom: 15px; }
    .noresponse .noresponse__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50%; }
  .noresponse .noresponse__text {
    font-weight: 400;
    color: #fff;
    font-size: 14px; }

.loader {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #efefef; }
  .loader svg {
    width: 300px;
    margin-bottom: 15%; }

.header {
  width: 100vw;
  background-color: #fff;
  height: 10vh;
  position: relative;
  z-index: 10; }
  .header .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .header .header__container .header__info {
      display: flex;
      align-items: center;
      gap: 10px; }
      .header .header__container .header__info .header__name {
        font-size: 32px;
        font-weight: 500;
        color: #4877BB;
        text-transform: uppercase;
        position: relative; }
        .header .header__container .header__info .header__name::after {
          content: '';
          display: block;
          height: 3px;
          width: 0%;
          background-color: rgba(72, 119, 187, 0.5);
          position: absolute;
          bottom: 0;
          transition: all .2s ease-in;
          right: 0; }
        .header .header__container .header__info .header__name:hover::after {
          width: 100%;
          right: auto;
          left: 0; }
      .header .header__container .header__info .header__profession {
        font-size: 24px;
        color: rgba(52, 52, 52, 0.75); }
    .header .header__container .header__burger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 2em;
      width: 3em;
      cursor: pointer; }
      .header .header__container .header__burger .burger__bar {
        transition: all .2s;
        width: 100%;
        height: 5px;
        background-color: rgba(52, 52, 52, 0.75); }
    .header .header__container .header__burger_active .burger__bar {
      background-image: linear-gradient(318deg, #4185c5 35%, #22c7f6 100%); }
    .header .header__container .header__burger_active .burger__bar_1 {
      transform: rotate(45deg) translateY(1.15em); }
    .header .header__container .header__burger_active .burger__bar_2 {
      transform: rotate(360deg) scale(0); }
    .header .header__container .header__burger_active .burger__bar_3 {
      transform: rotate(-45deg) translateY(-1.15em); }
    .header .header__container .header__nav {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      gap: 25px; }
      .header .header__container .header__nav .header__link {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0; }
        .header .header__container .header__nav .header__link:active {
          transform: scale(0.95); }
        .header .header__container .header__nav .header__link .svg__btn {
          width: 50px;
          height: 50px;
          fill: rgba(52, 52, 52, 0.75); }
          .header .header__container .header__nav .header__link .svg__btn:hover {
            fill: url(#lgrad); }

.about {
  background: url("../source/img/background_pattern.png") 0 0/400px 400px repeat;
  opacity: 0; }
  .about .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .about .about__container .about__image {
      position: absolute;
      z-index: 5;
      transform: translateY(100vh);
      pointer-events: none;
      height: 90%;
      bottom: 0;
      left: 15%; }
      .about .about__container .about__image img {
        height: 100%; }
    .about .about__container .about__buttons {
      display: flex;
      position: absolute;
      left: 40%;
      bottom: 10vh;
      gap: 15px;
      opacity: 0; }
      .about .about__container .about__buttons .about__stop-play, .about .about__container .about__buttons .about__reverse {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0; }
        .about .about__container .about__buttons .about__stop-play:active, .about .about__container .about__buttons .about__reverse:active {
          transform: scale(0.95); }
        .about .about__container .about__buttons .about__stop-play .svg__btn, .about .about__container .about__buttons .about__reverse .svg__btn {
          width: 50px;
          height: 50px;
          fill: rgba(52, 52, 52, 0.75); }
          .about .about__container .about__buttons .about__stop-play .svg__btn:hover, .about .about__container .about__buttons .about__reverse .svg__btn:hover {
            fill: url(#lgrad); }
    .about .about__container .about__scroll-area {
      min-width: 100vw;
      position: absolute;
      height: 300px;
      z-index: 10;
      cursor: pointer;
      touch-action: none;
      margin: 10vh 0 25vh; }
    .about .about__container .about__content {
      position: relative;
      transform: translateX(2000px);
      margin: 10vh 0 25vh; }
      .about .about__container .about__content .about-slider_moving {
        transition: all .3s; }
      .about .about__container .about__content .about-slider {
        width: 300px;
        display: flex;
        padding: 25px;
        gap: 1vw;
        left: 0px;
        position: relative;
        z-index: 1; }
        .about .about__container .about__content .about-slider .about-slider__item {
          min-width: 100%;
          height: 300px;
          border-radius: 15px;
          background-color: #fff;
          box-shadow: 5px 5px 15px rgba(52, 52, 52, 0.2);
          padding: 25px 15px;
          box-sizing: border-box; }
          .about .about__container .about__content .about-slider .about-slider__item .about-slider__image {
            margin-bottom: 12px;
            position: relative;
            left: 50px; }
            .about .about__container .about__content .about-slider .about-slider__item .about-slider__image img {
              max-width: 50%; }
          .about .about__container .about__content .about-slider .about-slider__item .about__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px; }

.git15 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  background: url(../source/img/pattern-white-frost-wallpaper.png) center no-repeat;
  opacity: 0; }
  .git15 .git15__container {
    padding: 10vh 0;
    display: flex;
    gap: 15px;
    opacity: 0; }
    .git15 .git15__container .git15__info .git15__header {
      font-size: 32px;
      font-weight: 500;
      color: #fff;
      background-color: #343434;
      border-radius: 15px;
      width: fit-content;
      padding: 5px 15px;
      margin: 0 auto 16px; }
    .git15 .git15__container .git15__info .git15__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px; }
      .git15 .git15__container .git15__info .git15__text a {
        color: #343434; }
    .git15 .git15__container .git15__game {
      position: relative;
      width: 400px;
      height: 400px;
      background-color: #fff;
      z-index: 5; }
      .git15 .git15__container .git15__game .cell {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        position: absolute;
        cursor: pointer;
        transition: all .3s; }
    .git15 .git15__container .git15__buttons {
      display: flex;
      flex-direction: column;
      margin: 5px 0 0;
      gap: 10px; }
      .git15 .git15__container .git15__buttons .git15__shuffle, .git15 .git15__container .git15__buttons .git15__order {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0; }
        .git15 .git15__container .git15__buttons .git15__shuffle:active, .git15 .git15__container .git15__buttons .git15__order:active {
          transform: scale(0.95); }
        .git15 .git15__container .git15__buttons .git15__shuffle .svg__btn, .git15 .git15__container .git15__buttons .git15__order .svg__btn {
          width: 50px;
          height: 50px;
          fill: rgba(52, 52, 52, 0.75); }
          .git15 .git15__container .git15__buttons .git15__shuffle .svg__btn:hover, .git15 .git15__container .git15__buttons .git15__order .svg__btn:hover {
            fill: url(#lgrad); }

.memo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../source/img/background_pattern.png") 0 0/400px 400px repeat; }
  .memo .memo__container {
    padding: 10vh 0;
    display: flex;
    gap: 15px; }
    .memo .memo__container .memo__info {
      align-self: self-start; }
      .memo .memo__container .memo__info .memo__header {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        background-color: #343434;
        border-radius: 15px;
        width: fit-content;
        padding: 5px 15px;
        margin: 0 auto 16px; }
      .memo .memo__container .memo__info .memo_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 0 15px; }
    .memo .memo__container .memo__game {
      width: 400px;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      position: relative;
      gap: 5px; }
      .memo .memo__container .memo__game .memo__cell {
        width: 23%;
        height: 23%;
        perspective: 15%;
        -webkit-perspective: 15%;
        position: relative;
        cursor: pointer;
        transition: all 0.6s;
        transform-style: preserve-3d; }
      .memo .memo__container .memo__game .memo__cell_front, .memo .memo__container .memo__game .memo__cell_back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #343434; }
      .memo .memo__container .memo__game .memo__cell_front {
        transition: all 0.6s;
        background-image: url(../source/img/pattern-white-frost-wallpaper.png); }
      .memo .memo__container .memo__game .memo__cell_back {
        transform: rotateY(180deg); }
      .memo .memo__container .memo__game .memo__cell_turn {
        transform: rotateY(180deg); }
      .memo .memo__container .memo__game .memo__html {
        background: #fff url(../source/img/stack/html.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__css {
        background: #fff url(../source/img/stack/css.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__js {
        background: #fff url(../source/img/stack/js.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__figma {
        background: #fff url(../source/img/stack/figma.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__react {
        background: #fff url(../source/img/stack/react.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__sass {
        background: #fff url(../source/img/stack/sass.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__gulp {
        background: #fff url(../source/img/stack/gulp.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__postgress {
        background: #fff url(../source/img/stack/postgress.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__nodejs {
        background: #fff url(../source/img/stack/nodejs.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__photoshop {
        background: #fff url(../source/img/stack/photoshop.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__git {
        background: #fff url(../source/img/stack/git.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__npm {
        background: #fff url(../source/img/stack/npm.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__mysql {
        background: #fff url(../source/img/stack/mysql.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__graph {
        background: #fff url(../source/img/stack/graphql.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__aftereffect {
        background: #fff url(../source/img/stack/aftereffect.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__bem {
        background: #fff url(../source/img/stack/bem.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__express {
        background: #fff url(../source/img/stack/express.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__ts {
        background: #fff url(../source/img/stack/ts.png) center/80% no-repeat; }
      .memo .memo__container .memo__game .memo__redux {
        background: #fff url(../source/img/stack/redux.png) center/80% no-repeat; }
    .memo .memo__container .memo__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 5px 0 0; }
      .memo .memo__container .memo__buttons .memo__hint, .memo .memo__container .memo__buttons .memo__replay {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0; }
        .memo .memo__container .memo__buttons .memo__hint:active, .memo .memo__container .memo__buttons .memo__replay:active {
          transform: scale(0.95); }
        .memo .memo__container .memo__buttons .memo__hint .svg__btn, .memo .memo__container .memo__buttons .memo__replay .svg__btn {
          width: 50px;
          height: 50px;
          fill: rgba(52, 52, 52, 0.75); }
          .memo .memo__container .memo__buttons .memo__hint .svg__btn:hover, .memo .memo__container .memo__buttons .memo__replay .svg__btn:hover {
            fill: url(#lgrad); }
    .memo .memo__container .memo__win {
      position: absolute;
      width: 35vw;
      height: 35vw;
      display: none;
      pointer-events: none; }
      .memo .memo__container .memo__win img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50%; }

.skills {
  padding: 0 5vh; }
  .skills .skills__container {
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    position: relative; }
    .skills .skills__container .skills__header {
      font-size: 32px;
      font-weight: 500;
      color: #fff;
      background-color: #343434;
      border-radius: 15px;
      width: fit-content;
      padding: 5px 15px;
      margin: 0 auto 35px; }
    .skills .skills__container .skills__slider {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      margin-bottom: 50px; }
      .skills .skills__container .skills__slider .skill-slider__shifting {
        transition: all .3s; }
      .skills .skills__container .skills__slider .skill-slider__row {
        display: flex;
        position: relative;
        max-width: 100%;
        max-height: 50vh; }
        .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          min-width: 100%;
          box-sizing: border-box;
          padding: 0 5px; }
          .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info {
            padding-right: 25px; }
            .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info .skill-slider__header {
              font-weight: 500;
              font-size: 32px;
              margin-bottom: 20px; }
            .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info .skill-slider__text {
              font-weight: 400;
              font-size: 24px;
              line-height: 28px;
              margin-bottom: 12px; }
          .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__image {
            width: 100%;
            position: relative; }
            .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__image img, .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__image video {
              width: 100%;
              object-fit: contain;
              object-position: 50%; }
          .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__responsive {
            width: 100%;
            height: 100%;
            position: relative;
            overflow-y: scroll; }
            .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__responsive img {
              width: 100%;
              display: block;
              object-fit: cover;
              object-position: 50%; }
    .skills .skills__container .skill-slider__remote {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px; }
      .skills .skills__container .skill-slider__remote .skill-slider__button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0; }
        .skills .skills__container .skill-slider__remote .skill-slider__button:active {
          transform: scale(0.95); }
        .skills .skills__container .skill-slider__remote .skill-slider__button .svg__btn {
          width: 50px;
          height: 50px;
          fill: rgba(52, 52, 52, 0.75); }
          .skills .skills__container .skill-slider__remote .skill-slider__button .svg__btn:hover {
            fill: url(#lgrad); }
      .skills .skills__container .skill-slider__remote .skill-slider__button_left {
        transform: rotateZ(180deg); }
        .skills .skills__container .skill-slider__remote .skill-slider__button_left:active {
          transform: scale(0.95) rotateZ(180deg); }
      .skills .skills__container .skill-slider__remote .skill-slider__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px; }
        .skills .skills__container .skill-slider__remote .skill-slider__dots .skill-slider__dot {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid rgba(52, 52, 52, 0.75);
          cursor: pointer;
          position: relative; }
          .skills .skills__container .skill-slider__remote .skill-slider__dots .skill-slider__dot:hover::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-image: linear-gradient(318deg, #4185c5 35%, #22c7f6 100%);
            position: absolute;
            bottom: calc(50% - 4px);
            left: calc(50% - 4px); }
        .skills .skills__container .skill-slider__remote .skill-slider__dots .skill-slider__dot_active::after {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: rgba(52, 52, 52, 0.75);
          position: absolute;
          bottom: calc(50% - 4px);
          left: calc(50% - 4px); }

.iwant {
  background-color: #efefef;
  background: url(../source/img/pattern-white-frost-wallpaper.png) center no-repeat; }
  .iwant .iwant__container {
    padding: 10vh 0;
    display: flex;
    justify-content: center; }
    .iwant .iwant__container .iwant__info {
      padding: 35px;
      background-color: #fff;
      border-radius: 35px;
      width: 65%;
      box-shadow: 5px 5px 15px rgba(52, 52, 52, 0.2); }
      .iwant .iwant__container .iwant__info .iwant__header {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        background-color: #343434;
        border-radius: 15px;
        width: fit-content;
        padding: 5px 15px;
        margin: 0 auto 45px; }
      .iwant .iwant__container .iwant__info .iwant__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
        padding: 0 25px; }
        .iwant .iwant__container .iwant__info .iwant__text a {
          color: #343434; }

.footer {
  width: 100vw;
  background-color: #343434;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 400;
  text-align: center;
  padding: 25px 0;
  transition: all .2s; }
  .footer:hover {
    color: rgba(255, 255, 255, 0.8); }
  .footer:active {
    font-size: 20px; }

/***************************************************
 * Generated by SVG Artista on 8/17/2022, 11:56:43 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
.scrip_svg-1 {
  animation: animate-svg-stroke-1 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both; }

.scrip_svg-2 {
  animation: animate-svg-stroke-2 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both; }

.scrip_svg-3 {
  animation: animate-svg-stroke-3 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both; }

.loader {
  animation: loader-hide;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 2s; }

@keyframes loader-hide {
  0% {
    opacity: 1;
    z-index: 100; }
  100% {
    opacity: 0;
    z-index: -1; } }

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 241.26369649739863px;
    stroke-dasharray: 241.26369649739863px; }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 241.26369649739863px; } }

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 1618.9444580078125px;
    stroke-dasharray: 1618.9444580078125px; }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1618.9444580078125px; } }

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 1056.54833984375px;
    stroke-dasharray: 1056.54833984375px; }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1056.54833984375px; } }

.header__container {
  animation: header-text-show .5s ease-in-out 2.6s 1 forwards; }

.about, .git15 {
  animation: about-show 1s ease-in-out 2.6s 1 forwards; }

.about__image {
  animation: about-image-show .5s ease-in-out 3s 1 forwards; }

.about__content {
  animation: about-content-show .5s ease-in-out 3.1s 1 forwards; }

.git15__container, .about__buttons {
  animation: git15-content-show .5s ease-in-out 3.7s 1 forwards; }

@keyframes header-text-show {
  0% {
    opacity: 0;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes about-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes about-image-show {
  0% {
    transform: translateY(100vh); }
  100% {
    transform: translateY(0); } }

@keyframes about-content-show {
  0% {
    transform: translateX(2000px); }
  100% {
    transform: translateX(0); } }

@keyframes git15-content-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (max-width: 1500px) {
  .container {
    padding: 0 50px; }
  .header {
    height: 15vh; } }

@media (max-width: 1240px) {
  .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info .skill-slider__header {
    font-size: 32px; }
  .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info .skill-slider__text {
    font-size: 18px;
    line-height: 20px; } }

@media (max-width: 970px) {
  .header {
    height: 75px; }
    .header .header__container .header__info {
      flex-direction: column;
      align-items: start;
      gap: 0; }
  .about .about__container .about__image {
    left: 10%; }
  .about .about__container .about__buttons {
    left: 50%; }
  .git15 .git15__container {
    flex-direction: column;
    align-items: center; }
    .git15 .git15__container .git15__buttons {
      flex-direction: row;
      align-self: self-end; }
  .memo .memo__container {
    flex-direction: column; }
    .memo .memo__container .memo__buttons {
      flex-direction: row;
      align-self: self-end; }
  .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info .skill-slider__header {
    font-size: 18px;
    margin-bottom: 12px; }
  .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info .skill-slider__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px; }
  .skills .skills__container .skill-slider__remote .skill-slider__button .svg__btn {
    width: 40px;
    height: 40px; }
  .iwant .iwant__container .iwant__info {
    width: 75%;
    padding: 35px 25px; }
    .iwant .iwant__container .iwant__info .iwant__text {
      font-size: 18px;
      line-height: 20px;
      padding: 0 20px; } }

@media (max-width: 800px) {
  .header .header__container .header__burger {
    display: flex; }
  .header .header__container .header__nav {
    position: absolute;
    justify-content: flex-end;
    gap: 10px;
    top: 75px;
    right: 3vw;
    padding: 15px 5px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(52, 52, 52, 0.2);
    transform: translate(90vw, 0);
    transition: all .2s; }
  .header .header__container .header__nav_showed {
    transform: translate(0px, 0px); }
  .about .about__container .about__image {
    left: 0; }
  .about .about__container .about__scroll-area {
    top: 10%;
    height: 215px;
    margin: 0; }
  .about .about__container .about__content {
    margin: 5vh 0 25vh; }
    .about .about__container .about__content .about-slider .about-slider__item {
      height: 215px;
      padding: 15px 15px 25px; }
      .about .about__container .about__content .about-slider .about-slider__item .about-slider__image {
        width: 65%;
        margin: 0;
        left: 30%; }
      .about .about__container .about__content .about-slider .about-slider__item .about__text {
        margin: 0; }
  .about .about__container .about__buttons {
    bottom: 50px; }
    .about .about__container .about__buttons .about__stop-play .svg__btn, .about .about__container .about__buttons .about__reverse .svg__btn {
      width: 40px;
      height: 40px; }
  .git15 .git15__container {
    flex-direction: row; }
    .git15 .git15__container .git15__info {
      align-self: start; }
      .git15 .git15__container .git15__info .git15__header {
        font-size: 18px;
        border-radius: 10px; }
      .git15 .git15__container .git15__info .git15__text {
        font-size: 14px; }
    .git15 .git15__container .git15__buttons {
      flex-direction: column; }
  .memo .memo__container {
    flex-direction: row; }
    .memo .memo__container .memo__info .memo__header {
      font-size: 18px;
      border-radius: 10px; }
    .memo .memo__container .memo__info .memo__text {
      font-size: 14px; }
    .memo .memo__container .memo__buttons {
      flex-direction: column; }
  .skills .skills__container .skills__slider .skill-slider__row {
    max-height: 300px; }
  .skills .skills__container .skill-slider__remote {
    padding: 0; }
    .skills .skills__container .skill-slider__remote .skill-slider__dots {
      gap: 15px; }
  .iwant .iwant__container .iwant__info {
    width: 75%;
    padding: 35px 25px; }
    .iwant .iwant__container .iwant__info .iwant__header {
      margin: 0 auto 25px; } }

@media (max-width: 740px) {
  .header {
    height: 75px; }
    .header .header__container .header__info .header__name {
      font-size: 24px; }
    .header .header__container .header__info .header__profession {
      font-size: 18px; }
  .git15 .git15__container .git15__info {
    display: none; }
  .memo .memo__container .memo__info {
    display: none; }
  .iwant .iwant__container {
    padding: 50px 0; }
    .iwant .iwant__container .iwant__info {
      width: 80%;
      padding: 25px 5px; }
      .iwant .iwant__container .iwant__info .iwant__header {
        margin: 0 auto 25px; }
      .iwant .iwant__container .iwant__info .iwant__text {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px; } }

@media (max-width: 700px) {
  .container {
    padding: 0 25px; }
  .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item {
    grid-template-columns: 1fr; }
    .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__info {
      padding: 0; }
    .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__responsive {
      display: none; }
    .skills .skills__container .skills__slider .skill-slider__row .skill-slider__item .skill-slider__image {
      display: none; }
  .footer {
    font-size: 18px;
    padding: 15px 0; } }

@media (max-width: 500px) {
  .about .about__container .about__image {
    left: -20%; }
  .git15 .git15__container {
    flex-direction: column;
    padding: 5vh 0; }
    .git15 .git15__container .git15__info {
      align-self: start; }
    .git15 .git15__container .git15__buttons {
      flex-direction: row; }
  .memo .memo__container {
    padding: 5vh 0;
    flex-direction: column; }
    .memo .memo__container .memo__buttons {
      flex-direction: row; } }

@media (max-width: 420px) {
  .git15 .git15__container .git15__game {
    width: 320px;
    height: 320px; }
    .git15 .git15__container .git15__game .cell {
      width: 80px;
      height: 80px; }
  .git15 .git15__container .git15__buttons .git15__shuffle .svg__btn, .git15 .git15__container .git15__buttons .git15__order .svg__btn {
    width: 35px;
    height: 35px; }
  .memo .memo__container {
    flex-direction: column; }
    .memo .memo__container .memo__game {
      width: 320px;
      height: 320px; }
    .memo .memo__container .memo__buttons .memo__hint .svg__btn, .memo .memo__container .memo__buttons .memo__replay .svg__btn {
      width: 35px;
      height: 35px; } }
