.header {
  animation: header-show;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes header-show {
  0% {
      background-color: $second-color;
      transform: translateX(-100%);
  }
  50% {
      background-color: $second-color;
      transform: translateX(0);
  }
  100% {
      background-color: #fff;
  }
}



.header__container {
  animation: header-text-show;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: .7s;
}

@keyframes header-text-show {
  0% {
      opacity: 0;
      transform: translateY(15px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}




.about {
  animation: about-show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1.1s;
}

@keyframes about-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.about__image {
  animation: about-image-show;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1.2s;
}

@keyframes about-image-show {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}



.about__content {
  animation: about-content-show;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1.6s;
}

@keyframes about-content-show {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}








