@media (max-width: 1500px) {
    .container {
        padding: 0 50px;
    }

    .header {
        height: 15vh;
    }
}

@media (max-width: 1240px) {
    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        .skill-slider__info {
                            .skill-slider__header {
                                font-size: 32px;
                            }
                            .skill-slider__text {
                                font-size: 18px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }                                              
}

@media (max-width: 970px) {
    .header {
        height: 75px;
        .header__container {
            .header__info {   
                flex-direction: column;
                align-items: start; 
                gap: 0;
            }
        }
    }  

    .about {
        .about__container {
            .about__image {
                left: 10%;
            }
            .about__buttons {
                left: 50%;
            }            
        }
    }
    
    .git15 {
        .git15__container {
            flex-direction: column;
            align-items: center;
            .git15__buttons {
                flex-direction: row;
                align-self: self-end;
            }
        }
    }
    
    .memo {
        .memo__container {
            flex-direction: column;
            .memo__buttons {
                flex-direction: row;
                align-self: self-end;
            }
        }
    }

    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        .skill-slider__info {
                            .skill-slider__header {
                                font-size: 18px;
                                margin-bottom: 12px;
                            }
                            .skill-slider__text {
                                font-size: 14px;
                                line-height: 18px;
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
            .skill-slider__remote {
                .skill-slider__button {
                    .svg__btn {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    } 

    .iwant {
        .iwant__container {
            .iwant__info {
                width: 75%;
                padding: 35px 25px;
                .iwant__text {
                    font-size: 18px;
                    line-height: 20px;
                    padding: 0 20px;
                }
            }
        }
    }
    
}

@media (max-width: 800px) {
    .header {
        .header__container {
            .header__burger {
                display: flex;
            }
            .header__nav {
                position: absolute;
                justify-content: flex-end;
                gap: 10px;
                top: 75px;
                right: 3vw;
                padding: 15px 5px;
                border-radius: 15px;
                background-color: #fff;
                box-shadow: 5px 5px 15px rgba($color: $second-color, $alpha: .2);
                transform: translate(90vw, 0);
                transition: all .2s;
            }
            .header__nav_showed {
                transform: translate(0px, 0px);
            }
        }
    }  

    .about {
        .about__container {
            .about__image {
                left: 0;
            }
            .about__scroll-area {
                top: 10%;
                height: 215px;
            }
            .about__content {
                margin: 5vh 0 25vh;
                .about-slider {
                    .about-slider__item {
                        height: 215px;
                        padding: 15px 15px 25px;
                        .about-slider__image {
                            width: 65%;
                            margin: 0;
                            left: 30%;
                        }
                        .about__text {
                            margin: 0;
                        }
                    }
                }
            }
            .about__buttons {
                bottom: 50px;
                .about__stop-play, .about__reverse {
                    .svg__btn {
                        width: 40px;
                        height: 40px;
                        
                    }
                }
            }
        }
    }

    .git15 {
        .git15__container {
            flex-direction: row;
            .git15__info {
                align-self: start;
                .git15__header {
                    font-size: 18px;
                    border-radius: 10px;
                }
                .git15__text {
                    font-size: 14px;
                }
            }
            .git15__buttons {
                flex-direction: column;
            }
        }
    }

    .memo {
        .memo__container {
            flex-direction: row;
            .memo__info {
                .memo__header {
                    font-size: 18px;
                    border-radius: 10px;
                }
                .memo__text {
                    font-size: 14px;
                }
            }
            .memo__buttons {
                flex-direction: column;
            }
        }
    }

    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    max-height: 300px;
                }
            }
            .skill-slider__remote {
                padding: 0;
                .skill-slider__dots {
                    gap: 15px;
                }
            }
        }
    
    }

    .iwant {
        .iwant__container {
            .iwant__info {
                width: 75%;
                padding: 35px 25px;
                .iwant__header {
                    margin: 0 auto 25px;
                }
            }
        }
    }
    
}

@media (max-width: 740px) {

    .header {
        height: 75px;
        .header__container {
            .header__info {   
                .header__name {
                    font-size: 24px;
                }
                .header__profession {
                    font-size: 18px;
                }
            }
        }
    } 

    .git15 {
        .git15__container {
            .git15__info {
                display: none;
            }
        }
    }

    .memo {
        .memo__container {
            .memo__info {
                display: none;
            }
        }
    } 

    .iwant {
        .iwant__container {
            padding: 50px 0;
            .iwant__info {
                width: 80%;
                padding: 25px 5px;
                .iwant__header {
                    margin: 0 auto 25px;
                }
                .iwant__text {
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 8px;
                }
            }
        }
    }
     
}


@media (max-width: 700px) {

    .container {
        padding: 0 25px;
    }

    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        grid-template-columns: 1fr;
                        .skill-slider__info {
                            padding: 0;
                        }
                        .skill-slider__responsive {
                            display: none;
                        }
                        .skill-slider__image {
                            display: none;
                        }
                    }
                }
            }
        } 
    }

    .footer {
        font-size: 18px;
        padding: 15px 0;
    }
}

@media (max-width: 500px) {

    .about {
        .about__container {
            .about__image {
                left: -20%;
            }
        }
    }

    .git15 {
        .git15__container {
            flex-direction: column;
            padding: 5vh 0;
            .git15__info {
                align-self: start;
            }
            .git15__buttons {
                flex-direction: row;
            }
        }
    }

    .memo {
        .memo__container {
            padding: 5vh 0;
            flex-direction: column;
            .memo__buttons {
                flex-direction: row;
            }
        }
    } 

}

@media (max-width: 420px) {

    .git15 {
        .git15__container {
            .git15__game {
                width: 320px;
                height: 320px;
                .cell {
                    width: 80px;
                    height: 80px;
                }          
            }
            .git15__buttons {
                .git15__shuffle, .git15__order {
                    .svg__btn {
                        width: 35px;
                        height: 35px;
                    }
                }  
            } 
        }
    }
    

    .memo {
        .memo__container {
            flex-direction: column;
            .memo__game {
                width: 320px;
                height: 320px;
            }
            .memo__buttons {
                .memo__hint, .memo__replay {
                    .svg__btn {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}