@media (max-width: 1500px) {
    .container {
        padding: 0 50px;
    }

    .header {
        height: 100px;
    }
}

@media (max-width: 1240px) {
    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        .skill-slider__info {
                            .skill-slider__header {
                                font-size: 32px;
                            }
                            .skill-slider__text {
                                font-size: 18px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }                                              
}

@media (max-width: 970px) {
    .header {
        .header__container {
            .header__info {   
                flex-direction: column;
                align-items: start; 
                gap: 0;
            }
        }
    }  
    
    .git15 {
        .git15__container {
            padding: 100px 0;
            flex-direction: column;
            align-items: center;
            .git15__info {
                margin: 25px 0;
            }
        }
    }
    
    .memo {
        .memo__container {
            padding: 100px 0;
        }
    }

    .skills {
        .skills__container {
            padding: 100px 0;
            .skills__slider {
                .skill-slider__row {
                    max-height: 80vw;
                    .skill-slider__item {
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 2fr;
                        .skill-slider__info {
                        }
                    }
                }
            }
        }
    } 

    .iwant {
        .iwant__container {
            .iwant__info {
                width: 75%;
                padding: 35px 25px;
                .iwant__text {
                    font-size: 18px;
                    line-height: 20px;
                    padding: 0 20px;
                }
            }
        }
    }
    
}

@media (max-width: 800px) {
    .memo {
        .memo__container {
            .memo__game {
                width: 85vw;
                height: 85vw;
                .memo__cell {
                    width: 15%;
                    height: 15%;
                }
            }
        }
    }                                            
}

@media (max-width: 760px) {
    .header {
        .header__container {
            .header__burger {
                display: flex;
            }
            .header__nav {
                flex-direction: column;
                position: absolute;
                justify-content: flex-end;
                gap: 10px;
                top: 100px;
                right: 40px;
                padding: 15px 5px;
                border-radius: 15px;
                background-color: #fff;
                box-shadow: 5px 5px 15px rgba($color: $second-color, $alpha: .2);
                transform: rotate(-90deg) translate(240px, 240px);
                transition: all .2s;
            }
            .header__nav_showed {
                transform: rotate(0deg) translate(0px, 0px);
            }
        }
    }  
    
    .git15 {
        .git15__container {
            padding: 100px 0;
            flex-direction: column;
            .git15__info {
                margin: 25px 0;
            }
        }
    }
    
    .memo {
        .memo__container {
            padding: 100px 0;
        }
    }

    .skills {
        .skills__container {
            padding: 100px 0;
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 2fr;
                    }
                }
            }
        }
    } 

    .iwant {
        .iwant__container {
            .iwant__info {
                width: 75%;
                padding: 35px 25px;
                .iwant__header {
                    margin: 0 auto 45px;
                }
            }
        }
    }

    .skills {
        .skills__container {
            .skill-slider__remote {
                padding: 0;
            }
        }
    }
    
}

@media (max-width: 650px) {

    .header {
        .header__container {
            .header__info {   
                .header__name {
                    font-size: 24px;
                }
                .header__profession {
                    font-size: 18px;
                }
            }
        }
    } 

    .about {
        .about__container {
            .about__content {
                .about-slider  {
                    width: 260px;
                    .about-slider__item {
                        height: 260px;
                        .about__text {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }
            }
            .about__buttons {
                right: 75px;
                bottom: 25px;
            }
        }
    }

    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        .skill-slider__info {
                            margin-bottom: 12px;
                            .skill-slider__header {
                                font-size: 24px;
                                margin-bottom: 12px;
                            }
                            .skill-slider__text {
                                font-size: 16px;
                                line-height: 18px;
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }
    } 

    .iwant {
        .iwant__container {
            padding: 100px 0;
            .iwant__info {
                width: 80%;
                padding: 25px 5px;
                .iwant__header {
                    margin: 0 auto 25px;
                }
                .iwant__text {
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 8px;
                }
            }
        }
    }
     
}

@media (max-width: 550px) {
    .about {
        .about__container {
            padding: 0;
            .about__image {
                display: none;
            }
            .about__scroll-area {
                top: calc(50% - 170px);
            }
            .about__content {
                top: 0;
                left: 0;
                margin: 0 0 100px 0;
            }
            
        }
    }

    .git15 {
        .git15__container {
            padding: 50px 0;
        }
    }

    .skills {
        padding: 0 25px;
        .skills__container {
            padding: 50px 0;
        }
    }

    
}

@media (max-width: 500px) {

    .container {
        padding: 0 25px;
    }

    .git15 {
        .git15__container {
            padding: 50px 0;
            .git15__info {
                .git15__header {
                    font-size: 24px;
                    margin: 0 0 12px 0;
                }
                .git15__text {
                    padding: 0;
                }
            }
            .git15__game-container {
                .git15__game {
                    width: 320px;
                    height: 320px;
                    .cell {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }

    .memo {
        .memo__container {
            .memo__info {
                margin-bottom: 15px;
                .memo__header {
                    font-size: 24px;
                    margin: 0 0 12px 0;
                }
                .memo__text {
                    padding: 0;
                }
            }
        }
    }

    .footer {
        padding: 15px 0;
        font-size: 18px;
    }
    
}

@media (max-width: 420px) {
    .git15 {
        .git15__container {
            .git15__game-container {
                flex-direction: column;
                .git15__buttons {
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 0;
                }
            }
        }
    }

    .memo {
        .memo__container {
            .memo__buttons {
            align-self: flex-end;
            margin-right: 20px;    
                .memo__hint, .memo__replay {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .skills {
        .skills__container {
            .skills__slider {
                .skill-slider__row {
                    .skill-slider__item {
                        grid-template-rows: 1fr;
                        .skill-slider__image, .skill-slider__responsive {
                            display: none;
                        }
                    }
                }
            }
            .skill-slider__remote {
                padding: 0;
                .skill-slider__button {
                    width: 35px;
                    height: 35px;
                }
                .skill-slider__dots {
                    gap: 15px;
                    .skill-slider__dot {
                        width: 16px;
                        height: 16px;
                        &:hover::before {
                            content: '';
                            width: 6px;
                            height: 6px;
                            bottom: calc(50% - 3px);
                            left: calc(50% - 3px);
                        }                
                    }
                    .skill-slider__dot_active {
                        &::after {
                            content: '';
                            width: 6px;
                            height: 6px;
                            bottom: calc(50% - 3px);
                            left: calc(50% - 3px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 385px) {
    body {
    }
    .noresponse {
        display: flex;
        overflow: hidden;
    }
    .wrapper {
        display: none;
    }
}