@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$main-font: 'Roboto', sans-serif;

$main-color: #4877BB;
$second-color: #343434;
$second-color-light: rgba($color: $second-color, $alpha: .75);
$blue-gradient: linear-gradient(318deg, rgba(65,133,197,1) 35%, rgba(34,199,246,1) 100%);

h1, h2, h3, h4, h5, p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    overflow-x: hidden;
}

.wrapper {
	width: 100%;
 	min-height: 100%;
 	overflow: hidden;
}

.container {
    max-width: 90em;
    margin: 0 auto;
}

@mixin section-header {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    background-color: $second-color;
    border-radius: 15px;
    width: fit-content;
    padding: 5px 15px;
}

@mixin section-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

// ============================================================================

.noresponse {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $second-color;
    .noresponse__image {
        display: block;
        width: 240px;
        height: 100px;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50%;
        }
    } 
    .noresponse__text {
        font-weight: 400;
        color: #fff;
        font-size: 14px;
    } 
}

// ============================================================================

.header {
    width: 100vw;
    background-color: #fff;
    height: 125px;
    position: relative;
    z-index: 10;
    // === header container
    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        opacity: 0;
        // === header info
        .header__info {
            display: flex;
            align-items: center;
            gap: 10px;
            .header__name {
                font-size: 32px;
                font-weight: 500;
                color: $main-color;
                text-transform: uppercase; 
                position: relative; 
                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0%;
                    background-color: rgba($color: $main-color, $alpha: .5);
                    position: absolute;
                    bottom: 0;
                    transition: all .2s ease-in;
                    right: 0;
                }
                &:hover::after {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
            
            .header__profession {
                font-size: 24px;
                color: $second-color-light;
            }
        }
        // === header burger
        .header__burger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 2em;
            width: 3em;
            cursor: pointer;
            .burger__bar {
                transition: all .2s;
                width: 100%;
                height: 5px;
                background-color: $second-color-light;
            }
        }
        .header__burger_active {
            .burger__bar {
                background-image: $blue-gradient;
            }
            .burger__bar_1 {
                transform: rotate(45deg) translateY(1.15em);
            }
            .burger__bar_2 {
                transform: rotate(360deg) scale(0);
            }
            .burger__bar_3 {
                transform: rotate(-45deg) translateY(-1.15em);
            }
        }
        // === header nav
        .header__nav {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            gap: 25px;
            .header__link {
                cursor: pointer;
                width: 50px;
                height: 50px;
                padding: 5px 0;
                background-size: contain;
                border-radius: 50%;
                transition: all .1s;
                &:active {
                    transform: scale(.95);
                }
            }
            .header__link_mail {
                background-image: url(../source/img/mail.png);
                &:hover {
                    background-image: url(../source/img/mail_blue.png);
                    transition: all .2s;
                }
            }
            .header__link_git {
                background-image: url(../source/img/git.png);
                &:hover {
                    background-image: url(../source/img/git_blue.png);
                    transition: all .2s
                }
            }
            .header__link_telegram {
                background-image: url(../source/img/telegram.png);
                &:hover {
                    background-image: url(../source/img/telegram_blue.png);
                    transition: all .2s
                }
            }
            .header__link_instagram {
                background-image: url(../source/img/instagram.png);
                &:hover {
                    background-image: url(../source/img/instagram_blue.png);
                    transition: all .2s
                }
            }
            .header__link_vk {
                background-image: url(../source/img/vk.png);
                &:hover {
                    background-image: url(../source/img/vk_blue.png);
                    transition: all .2s
                }
            }   
        }
    }
} 

// ============================================================================

.about {
    background: url('../source/img/background_pattern.png') 0 0/400px 400px repeat;
    opacity: 0; 
    // === about container
    .about__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0 0;
        position: relative;
        overflow: hidden;
        // === about image
        .about__image {
            position: relative;
            z-index: 5;
            transform: translateY(100vh);
            pointer-events: none;
            bottom: -20px;
            img {
                width: 90%;
            }
        }
        // === about stop-play button
        .about__buttons {
            display: flex;
            position: absolute;
            right: 150px;
            bottom: 75px;
            gap: 15px;
            .about__stop-play, .about__reverse {   
                cursor: pointer;
                width: 50px;
                height: 50px;
                background-size: contain;
                border-radius: 50%;
                border: none;
                transition: all .2s;
                &:active {
                    scale: .95;
                }   
            }
            .about__stop-play {
                background: url(../source/img/play-pause.png) center / contain;
                &:hover {
                    background: url(../source/img/play-pause_blue.png) center / contain;
                }
            }
            .about__reverse {
                background: url(../source/img/reverse.png) center / contain;
                &:hover {
                    background: url(../source/img/reverse_blue.png) center / contain;
                }
            }
        }
        
        // === about scroll area
        .about__scroll-area {
            min-width: 100vw;
            position: absolute;
            height: 300px;
            top: calc(50% - 215px);
            z-index: 10;
            cursor: pointer;
        }
        // === about content
        .about__content {
            position: relative;
            top: -115px;
            left: -185px;
            transform: translateX(1000px);
            // === about slider
            .about-slider_moving {
                transition: all .3s;
            }
            .about-slider {
                width: 300px;
                display: flex;
                padding: 25px;
                gap: 1vw;
                left: 0px;
                position: relative;
                z-index: 1;
                // === about slider item
                .about-slider__item {
                    min-width: 100%;
                    height: 300px;
                    border-radius: 15px;
                    background-color: #fff;
                    box-shadow: 5px 5px 15px rgba($color: $second-color, $alpha: .2);
                    padding: 25px 15px;
                    box-sizing: border-box;  
                     // === about slider item image
                    .about-slider__image {
                        margin-bottom: 12px;
                        position: relative;
                        left: 50px;
                        img {
                            max-width: 50%;
                        }
                    }  
                    // === about slider item text 
                    .about__text {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 12px;
                    }
                }
            }  
        }   
    }

}

// ============================================================================

.git15 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    background: url(../source/img/pattern-white-frost-wallpaper.png) center no-repeat;
    // === 15game container
    .git15__container {
        padding: 150px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        // === 15game field
        .git15__info {
            margin: 25px;
            .git15__header {
                @include section-header;
                margin-bottom: 16px;
            }
            .git15__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                padding: 0 25px;
                a {
                    color: $second-color;
                }
            }
        }
        .git15__game-container {
            display: flex;
            .git15__game {
                position: relative;
                width: 400px;
                height: 400px;
                background-color: #fff;
                z-index: 5;
                // === 15game cell
                .cell {
                    width: 100px;
                    height: 100px;
                    border: 2px solid #fff;
                    background-repeat: no-repeat;
                    background-size: contain;
                    box-sizing: border-box;
                    position: absolute;
                    cursor: pointer;
                    transition: all .3s;
                }          
            }
            // === 15game buttons
            .git15__buttons {
                display: flex;
                flex-direction: column;
                position: relative;
                height: fit-content;
                padding: 15px 5px;
                margin-left: 15px;
                gap: 15px;
                .git15__button {
                    width: 50px;
                    height: 50px;
                    background-size: contain;
                    background-color: transparent;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .2s;
                }
                .git15__button:active {
                    transform: scale(0.95);
                }
                .git15__game__shuffle {
                    background-image: url('../source/img/shuffle.png');
                    &:hover {
                        background-image: url('../source/img/shuffle_blue.png');
                        transition: all .2s;
                    }
                }
                .git15__game__order {
                    background-image: url('../source/img/odrer.png');
                    &:hover {
                        background-image: url('../source/img/odrer_blue.png');
                        transition: all .2s;
                    }
                }
                
            } 
        }   
    }
    
    
}

// ============================================================================

.memo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../source/img/background_pattern.png') 0 0/400px 400px repeat;
    // === memo container
    .memo__container {
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        // === memo info
        .memo__info {
            margin-bottom: 25px;
            align-self: self-start;
            // === memo header
            .memo__header {
                @include section-header;
                margin-bottom: 16px;
            }
            // === memo text
            .memo_text {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                padding: 0 15px;
            }
        }
        // === memo game
        .memo__game {
            width: 700px;
            height: 700px;
            background-color: #fff;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            position: relative;
            padding: 5px;
            // === memo cell
            .memo__cell {
                width: 15%;
                height: 15%;
                perspective: 15%;
                position: relative;  
                cursor: pointer;
                transition: all 0.6s;
                transform-style: preserve-3d;
            }
            // === memo cell front back        
            .memo__cell_front, .memo__cell_back {
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border: 1px solid $second-color;          
            } 
            .memo__cell_front {
                transition: all 0.6s;
                background-image: url(../source/img/pattern-white-frost-wallpaper.png);
            }
            .memo__cell_back {
                transform: rotateY(180deg);
            }
            // === memo cell turn 
            .memo__cell_turn {
                transform: rotateY(180deg);
            }
        }
        // === memo cell images
        .memo__html {
            background: #fff url(../source/img/stack/html.png) center/80% no-repeat;
        }
        .memo__css {
            background: #fff url(../source/img/stack/css.png) center/80% no-repeat;
        }
        .memo__js {
            background: #fff url(../source/img/stack/js.png) center/80% no-repeat;
        }
        .memo__figma {
            background: #fff url(../source/img/stack/figma.png) center/80% no-repeat;
        }
        .memo__react {
            background: #fff url(../source/img/stack/react.png) center/80% no-repeat;
        }
        .memo__sass {
            background: #fff url(../source/img/stack/sass.png) center/80% no-repeat;
        }
        .memo__gulp {
            background: #fff url(../source/img/stack/gulp.png) center/80% no-repeat;
        }
        .memo__postgress {
            background: #fff url(../source/img/stack/postgress.png) center/80% no-repeat;
        }
        .memo__nodejs {
            background: #fff url(../source/img/stack/nodejs.png) center/80% no-repeat;
        }
        .memo__photoshop {
            background: #fff url(../source/img/stack/photoshop.png) center/80% no-repeat;
        }
        .memo__git {
            background: #fff url(../source/img/stack/git.png) center/80% no-repeat;
        }
        .memo__npm {
            background: #fff url(../source/img/stack/npm.png) center/80% no-repeat;
        }
        .memo__mysql {
            background: #fff url(../source/img/stack/mysql.png) center/80% no-repeat;
        }
        .memo__graph {
            background: #fff url(../source/img/stack/graphql.png) center/80% no-repeat;
        }
        .memo__aftereffect {
            background: #fff url(../source/img/stack/aftereffect.png) center/80% no-repeat;
        }
        .memo__bem {
            background: #fff url(../source/img/stack/bem.png) center/80% no-repeat;
        }
        .memo__express {
            background: #fff url(../source/img/stack/express.png) center/80% no-repeat;
        }
        .memo__ts {
            background: #fff url(../source/img/stack/ts.png) center/80% no-repeat;
        }
        .memo__redux {
            background: #fff url(../source/img/stack/redux.png) center/80% no-repeat;
        }
        
        .memo__buttons {
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            gap: 15px;
            margin-top: 15px;
            .memo__hint, .memo__replay {
                cursor: pointer;
                width: 60px;
                height: 60px;
                padding: 5px 0;
                background-size: contain;
                border-radius: 50%;
                transition: all .1s;
                border: none;
                &:active {
                    transform: scale(.95);
                }
            }
            .memo__hint {
                background: url(../source/img/flip.png) center/contain;
                &:hover {
                    background: url(../source/img/flip_blue.png) center/contain;
                }
            }
            .memo__replay {
                background: url(../source/img/restart.png) center/contain;
                &:hover {
                    background: url(../source/img/restart_blue.png) center/contain;
                }
            }
        }
        
        // === memo win image
        .memo__win {
            position: absolute;
            width: 35vw;
            height: 35vw;
            display: none;
            pointer-events: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: 50%;
            }
        }        
    }
}

// ============================================================================

.skills {
    padding: 0 50px;
    .skills__container {
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        .skills__header {
            @include section-header;
            margin: 0 auto 35px;
        }
        
        .skills__slider {
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            margin-bottom: 50px;
            .skill-slider__shifting {
                transition: all .3s;
            }
            .skill-slider__row {
                display: flex;
                position: relative;
                max-width: 100%;
                max-height: 450px;
                .skill-slider__item {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    min-width: 100%;
                    box-sizing: border-box;
                    padding: 0 5px;
                    .skill-slider__info {
                        .skill-slider__header {
                            font-weight: 500;
                            font-size: 32px;
                            margin-bottom: 20px;
                        }
                        .skill-slider__text {
                            @include section-text;
                            margin-bottom: 12px;
                        
                    }
                    }
                    .skill-slider__image {
                        width: 100%;
                        position: relative;
                        img, video {
                            width: 100%;
                            object-fit: contain;
                            object-position: 50%;   
                        }
                    }
                    .skill-slider__responsive {
                        width: 100%;
                        height: 450px;
                        position: relative;
                        overflow-y: scroll;
                        img {
                            width: 100%;
                            display: block;
                            object-fit: cover;
                            object-position: 50%;
                        } 
                    }
                }
            }

            
        }
        .skill-slider__remote {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
            .skill-slider__button {
                width: 50px;
                height: 50px;
                display: block;
                border: none;
                background: url(../source/img/arrow.png) center/contain no-repeat;
                transition: all .2s;
                cursor: pointer;
                &:hover {
                    background: url(../source/img/arrow_blue.png) center/contain no-repeat;
                    transition: all .2s;
                }
                &:active {
                    transform: scale(.95);
                }
            }
            .skill-slider__button_left {
                transform: rotateZ(180deg);
                &:active {
                    transform: scale(.95) rotateZ(180deg);
                }
            }
            .skill-slider__dots {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                .skill-slider__dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid $second-color-light;
                    cursor: pointer;
                    position: relative;
                    &:hover::before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-image: $blue-gradient;
                        position: absolute;
                        bottom: calc(50% - 4px);
                        left: calc(50% - 4px);
                    }                
                }
                .skill-slider__dot_active {
                    &::after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $second-color-light;
                        position: absolute;
                        bottom: calc(50% - 4px);
                        left: calc(50% - 4px);
                    }
                }
            }
        }
    }
}

// ============================================================================

.iwant {
    background-color: #efefef;
    background: url(../source/img/pattern-white-frost-wallpaper.png) center no-repeat;
    .iwant__container {
        padding: 150px 0;
        display: flex;
        justify-content: center;
        .iwant__info {
            padding: 35px;
            background-color: #fff;
            border-radius: 35px;
            width: 65%;
            box-shadow: 5px 5px 15px rgba($color: $second-color, $alpha: .2);
            .iwant__header {
                @include section-header;
                margin: 0 auto 45px;
            }
            .iwant__text {
                @include section-text;
                margin-bottom: 12px;
                padding: 0 25px;
                a {
                    color: $second-color;
                }
            }
        }
    }
}

// ============================================================================
.footer {
    width: 100vw;
    background-color: $second-color;
    font-family: $main-font;
    font-size: 24px;
    color: rgba($color: #fff, $alpha: .2);
    font-weight: 400;
    text-align: center;
    padding: 25px 0;
    transition: all .2s;
    &:hover {
        color: rgba($color: #fff, $alpha: .8);
    }
    &:active {
        font-size: 20px;
    }
}

// === Animations ===

@import 'animations';

// === Media ===

@import 'media';